<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => profile_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <legend><%= resource.email %></legend>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :display_name %><br />
      <%= f.text_field :display_name %>
    </div>
    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number %>
    </div>
  
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %></p>
    </div>
  </fieldset>
  <p><%= f.submit "Update" %></p>
<% end %>

<%= link_to "Back", :back %>
