<% if @student.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

  <ul>
  <% @student.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<div class="field">
<%= f.label :name %><br />
<%= f.text_field :name, :class => 'membership_field' %>
</div>
<div class="field">
<%= f.label :phone_number %><br />
<%= f.text_field :phone_number, :class => 'membership_field' %>
</div>
<% #TODO: groups/memberships%>
<div class="right">
  <%= f.submit "Save Member" %>
</div>