<% if @student.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

  <ul>
  <% @student.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<div class="field">
<%= f.label :name %><br />
<%= f.text_field :name, :class => 'ajax_edit student' %>
</div>
<div class="field">
<%= f.label :phone_number %><br />
<%= f.text_field :phone_number, :class => 'ajax_edit number' %>
</div>
<% #TODO: groups/memberships%>
<%= link_to 'Cancel', group_path(@group), :class => "button secondary minor margin_top" %>
<%= f.submit "Save", :class => 'button minor margin_top' %>