<h1>Listing students</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone number</th>
    <th>Groups</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.phone_number %></td>
    <% #strictly speaking, the .html_safe should be unnecessary. see bug https://rails.lighthouseapp.com/projects/8994/tickets/6298 %>
    <td><%= (student.groups.map {|g| link_to(g.description, g)}*", ").html_safe  %></td>
    <td><%= link_to 'Show', group_student_path(@group.id, student) %></td>
    <td><%= link_to 'Edit', edit_group_student_path(@group.id, student) %></td>
    <td><%= link_to 'Destroy', group_student_path(@group.id, student.id), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_group_student_path(@group.id) %>
