<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @student.phone_number %>
</p>

<p>
  <b>Groups:</b>
  <br />
  <ul>
  <% for group in @student.groups %>
    <li><%= link_to group.title, group_path %></li>
  <% end %>
  </ul>
</p>
<br />

<%= link_to 'Edit', edit_group_student_path(@group, @student) %> |
<%= link_to 'Back', group_students_path(@group) %>
