<%= form_for @group do |f| %>

  <%= f.fields_for :students do |sf|%>

    <div class="field">
      <%= sf.label :name %><br />
      <%= sf.text_field :name, :class => "membership_field" %>
    </div>
    <div class="field">
      <%= sf.label :phone_number %><br />
      <%= sf.text_field :phone_number, :class => "membership_field" %>
    </div>
    <br />
  
  <%end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>