

<h4><span class="left"><%= @group.description %></span>
<span class="right"><%= PhoneValidator::OUTPUT_PRINTF%@group.phone_number.scan(/\d/) %></span></h4>
<br><br>
<%= form_for @group, :url=>send_message_to_group_path, :html=>{:method=>"post"} do |f| %>
  <%= fields_for :message do |mf| %>
    <div class="field">
      <%= mf.label :content, "Send Message" %>
			<br />
      <span class="formwrap"><%= mf.text_area :content, :id => "message_content"%>
	<div id="character_count"><h5>
		<div>
			<div id="barbox">
				<div id="bar"></div>
			</div>
		</div>
		<div id="count">0 / <%= 160 - current_user.display_name.length %></div>
	</h5></div>
	</span>
    </div>
  <%end%>
  <div>
      <div id="message_send_options">
          <div class="left"><%= f.submit "Send Message Now", :class => 'button', :id => 'send_message_now' %></div>
          <div>
              <span class="right"><%= select_datetime(DateTime.now,:discard_minute=>true, :start_year=>Date.today.year,:end_year=>Date.today.year+1) %></span>
              <%= f.submit "Send Message at Above Scheduled Time", :class => 'right button secondary', :id => 'send_message_scheduled'%>
          </div>
    </div>
  </div>
<%end%>
<div id="return_to_groups"></div>
<span><%= link_to "< All Groups", groups_path %></span>