<script type="text/javascript">
	$(document).ready(function()
	{
		$("#message_content").keyup(function()
		{
		var box=$(this).val();
		var main = box.length *100;
		var value= (main / <%= 160 - current_user.display_name.length %>);
		var count= box.length;

		if(box.length <= <%= 160 - current_user.display_name.length %>)
		{
			$('#count').html(count + ' / ' + <%= 160 - current_user.display_name.length %>);
			$('#bar').animate(
				{
				"width": value+'%',
				}, 1);
		}
		return false;
		});
	});
</script>

<h4><span class="left"><%= @group.description %></span>
<span class="right"><%= PhoneValidator::OUTPUT_PRINTF%@group.phone_number.scan(/\d/) %></span></h4>
<br><br>
<%= form_for @group, :url=>send_message_to_group_path, :html=>{:method=>"post"} do |f| %>
  <%= fields_for :message do |mf| %>
    <div class="field">
      <%= mf.label :content, "Send Message" %>
			<br />
      <span class="formwrap"><%= mf.text_area :content, :id => "message_content"%>
	<div id="character_count"><h5>
		<div>
			<div id="barbox">
				<div id="bar"></div>
			</div>
		</div>
		<div id="count">0 / <%= 160 - current_user.display_name.length %></div>
	</h5></div>
	</span>
    </div>
  <%end%>
  <div class="left">
    <br /><%= f.submit "Send Message Now", :class => 'button'%>
  </div>
  <div class="right">
    <%= f.submit "Send Message Later", :class => 'button secondary' %>
  </div>
  <div class="right">
    <%= select_datetime(DateTime.now,:discard_minute=>true, :start_year=>Date.today.year,:end_year=>Date.today.year+1) %>
  </div>
<%end%>
<br />