<h1>Editing group memberships</h1>
<%= form_for(@group,:url=>:update_memberships_of_group) do |f| %>
  <% @students.each_with_index do |student| %>
    <% student.id=nil %>
    <%= fields_for("students[]",student) do |sf|%>
      <% if student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
            <ul>
              <% student.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
      <%end%>
      
      <div class="field">
        <%= sf.label :name %><br />
        <%= sf.text_field :name %>
      </div>
      <div class="field">
        <%= sf.label :phone_number %><br />
        <%= sf.text_field :phone_number %>
      </div>
    <%end%>
  <%end%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %>
