<div id="left_column">
	<%= render :partial => 'send_message' %>
	<%= link_to 'Back', groups_path %>
</div>

<div id="right_column">
	<%= form_for(@group,:url=>:update_memberships_of_group) do |f| %>
	  <% @students.each_with_index do |student, index| %>
	  	<% student.id = nil %>
	    <%= fields_for("students[]",student) do |sf| %>
	      <% if student.errors.any? %>
	        <div id="error_explanation">
	          <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
	            <ul>
	              <% student.errors.full_messages.each do |msg| %>
	                <li><%= msg %></li>
	              <% end %>
	            </ul>
	        </div>
	      <%end%>
    	<div class="gray_outline">
	      <div class="field">
	        <%= sf.label :name %><br />
	        <%= sf.text_field :name, :class => "membership_field last" %>
	      </div>
	      <div class="field">
	        <%= sf.label :phone_number %><br />
	        <%= sf.text_field :phone_number, :class => "membership_field" %>
	      </div>
		</div>
	    <%end%>
	  <%end%>

	  <div class="actions">
	    <%= f.submit "Edit Members", :disable_with => "Hold on there, sonny..." %>
	  </div>
	<%end%>
</div>