<div id="main">
	<div class="header">
		<div class="title_text">
			<h2>Your Groups<h2>
		</div>
			<h3>
				<ul id="group_tabs">
					<% @groups.each do |group| %>
					<li class="active_tab"><%= group.title %></li>
					<li><%= group.title %></li>
					<% end %>
					<li><%= link_to '+', new_group_path %></li>
				</ul>
			</h3>
	</div>
	<div class="content">
	<% @groups.each do |group| %>
		<h3>
			<div id="content_title">
				<div class="content_left">
					<%= group.title %>
				</div>
				<div class="content_right">
					<%= PhoneValidator::OUTPUT_PRINTF%group.phone_number.scan(/\d/) %>
				</div>
			</div>
			<div id="content_subtitle">
				<div class="content_left">
					<%= group.description %>
				</div>
				<div class="content_right">
					<%= pluralize group.students.count, "member" %>
				</div>
			</div>
		</h3>
			<table style="clear: both;">
			    <tr>
			      <td><%= link_to 'Show', group %></td>
			      <td><%= link_to 'Edit', edit_group_path(group) %></td>
			      <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
			    </tr>
			</table>
	</div>
</div>
<% end %>
<div id="sidebar">
  <div class="header">
    <div class="title_text">
		<h2>Send Txt</h2>
    </div>
  </div>
  <div class="content">
  </div>
</div>