<% if @groups.blank? %>
	<h3>You haven't created any groups.  Please <%= link_to 'click here', new_group_path %> to set one up.</h3>
<% else %>
		<ul>
			<% @groups.each do |group| %>
				<li><%= link_to group.title, group_path(group) %>
					<ul>
						<li><%= group.description %></li>
						<li><%= PhoneValidator::OUTPUT_PRINTF%group.phone_number.scan(/\d/) %></li>
						<li><%= pluralize group.students.count, "member" %></li>
					</ul>
				</li>
			<% end %>
		</ul>
	<%= link_to "Add New Group", new_group_path, :class => 'button' %>
<% end %>
