<div id="main">
	<div class="header">
		<div class="title_text">
			<h2>Your Groups<h2>
		</div>
		<%= link_to 'New Group', new_group_path %>
	</div>
	<div class="content">
	<% @groups.each do |group| %>
		<h3>
			<div id="title_left">
				<div class="content_title">
					<%= group.title %>
				</div>
				<div class="content_subtitle">
					<%= group.description %>
				</div>
			</div>
			<div id="title_right">
				<div class="content_title">
					(555) 555-5555
				</div>
				<div class="content_subtitle">
					13 members
				</div>
			</div>
		</h3>
	</div>
	<table>
	    <tr>
	      <td><%= link_to 'Show', group %></td>
	      <td><%= link_to 'Edit', edit_group_path(group) %></td>
	      <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
	    </tr>
	</table>
</div>
<% end %>
<div id="sidebar">
  <div class="header">
    <div class="title_text">
		<h2>Send Txt</h2>
    </div>
  </div>
  <div class="content">
	<span class="formwrap">
		<textarea id="group_message" name="group_message">And today's assignment is...</textarea>
	</span>
  </div>
</div>