<% if @groups.blank? %>
	<h3>You haven't created any groups.  Please <%= link_to 'click here', new_group_path %> to set one up.</h3>
<% else %>
			<% @groups.each do |group| %>
				<a class="group_list_item" href="<%= group_path(group) %>">
							<span class="left">
								<span class="group_title"><%= group.title %></span><br>
								<span class="group_info"><%= group.description %></span>
							</span>
							<span class="right">
								<span class="group_number"><%= PhoneValidator::OUTPUT_PRINTF%group.phone_number.scan(/\d/) %></span><br>
								<span class="group_members_count"><%= pluralize group.students.count, "member" %></span>
							</span>
				</a>
			<% end %>
			<br>
	<%= link_to "Add New Group", new_group_path, :class => 'button right' %>
<% end %>
