<div id="left_column">
	<%= form_for @group,:url=>send_message_to_group_path, :html=>{:method=>"post"} do |f| %>
	  <%= fields_for :message do |mf| %>
	    <div class="field">
	      <%= mf.label :content, "Message:" %>
				<br />
	      <%= mf.text_area :content, :rows=>5,:cols=>20 %>
	    </div>
	  <%end%>
	  <div class="actions">
	    <br /><%= f.submit "Send Message"%>
	  </div>
	<%end%>
	<br />
	<%= link_to 'Back', groups_path %>
</div>
<div id="right_column">
	<% if @group.students.blank? %>
		<h4>There are no students associated with this group.</h4>
	<% else %>
		<h4>Your message will be sent to the following recipients:</h4>
	<% end %>
	<% for member in @group.students %>
		<%= member.name %>
		<br />
	<% end %>
</div>