<p>
  <b>User:</b>
  <%= @group.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @group.title %>
</p>

<p>
  <b>Description:</b>
  <%= @group.description %>
</p>

<%= form_for @group,:url=>send_message_to_group_path, :html=>{:method=>"post"} do |f| %>
  <%= fields_for :message do |mf| %>
    <div class="field">
      <%= mf.label :content, "Message:" %>
      <%= mf.text_area :content, :rows=>5,:cols=>20 %>
    </div>
  <%end%>
  <div class="actions">
    <%= f.submit "send message"%>
  </div>
<%end%>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
