<div class="left">
  <h2>Edit Account</h2>

  <%= form_for(resource, :as => resource_name, :url => profile_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <fieldset>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :display_name %><br />
        <%= f.text_field :display_name %>
      </div>
      <div class="field">
        <%= f.label :phone_number %><br />
        <%= f.text_field :phone_number %>
      </div>
      <div class="field">
        <%= f.label :current_password %><%= link_to "Change?", edit_password_of_profile_path, :class => "right" %><br>
        <%= f.password_field :current_password %>
      </div>
    </fieldset>
    <%= link_to "Cancel", groups_path, :class => "button secondary left" %>
    <p class="right"><%= f.submit "Save" %></p>
</div>
<% end %>
