<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd"> 
 
<html lang="en"> 
<head> 
	<title>Homework Notifier</title>  
  <%= stylesheet_link_tag 'reset.css' %>
  <link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'> 
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'> 
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:regular,bold' rel='stylesheet' type='text/css'> 
  <%= stylesheet_link_tag 'application.css' %>
	<%= javascript_include_tag 'jquery-1.5.2.min' %>
	<%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head> 
<body> 
  <div id="container"> 
    <div id="logo">
		<div id="logo_text">
			<a href="/">
				<h1 id="top" class="lucky white">HW2</h1>
       	<h1 id="bottom" class="lucky white">TXT</h1>
			</a>
		</div>
    </div>
    <div id="nav">
        <ul id="main_menu">
            <h3>
            <li><a href="about.html" class="nav_links">ABOUT</a></li>
            <li><a href="help.html" class="nav_links">HELP</a></li>
            <li><a href="/groups" class="nav_links">GROUPS</a></li>
            <li><a href="account.html" class="nav_links">ACCOUNT</a></li>
            <li><%= current_user ? link_to('Sign out', destroy_user_session_path, :id => "sign_in") : link_to('Sign in', new_user_session_path, :id => "sign_in")%>
			</li>	
            </h3>
        </ul>
    </div>
		<div id="main">
			<div class="header">
				<div class="title_text">
					<%= render :partial => 'layouts/breadcrumbs' %>
				</div>
			</div>
			<div class="content">
		    <%= render :partial => 'layouts/notices' %>
				<%= yield %>
			</div>
		</div>
  </div> 
</body> 
</html>